* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.layout-default {
  font-size: 16px;
  border: 1px solid #53d5c1;
  padding: 10px;
  border-radius: 6px;
  height: auto;
  word-wrap: break-word;
}

.layout-innder-default {
}